# git repos
-e git://github.com/xeroc/python-graphenelib@minimal#egg=graphenelib
-e git://github.com/xeroc/python-bitshares@develop#egg=bitshares
autobahn
pycrypto
pyyaml

# flask
flask
Flask-SQLAlchemy
Flask-Session
flask-cors
flask-script
flask-mail
flask-markdown

# hosting
gunicorn
configparser

# misc
requests>=2.9.1
